<?xml version="1.0"?>
<server>
    <featureManager>
        <feature>zosconnect:zosConnect-2.0</feature>
    </featureManager>

    <include location="cors.xml"/>
    <include location="http-tls.xml"/>
    <include location="saf-security.xml"/>
    <include location="cics-ipic.xml"/>
    <include location="mq.xml"/>

</server>
